* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Utils */
.container {
  margin: 0 auto;
  max-width: 80%;
}

/* component: Header  */
header {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav {
  text-transform: uppercase;
  display: flex;
  gap: 1em;
}


.headerNav li a {
  transition: 0.5s;
}

.headerNav li a:hover {
  border-bottom: 2px solid blue;
  color: lightblue;
}

/* component: Main  */
main {
  background-color: #000;
  color: white;
}

.contentSection {
  font-size: 2rem;
}

.contentSection p {
  padding: 1.7rem 0;
}

.bgBlue {
  background-color: #0282f9;
}

.infoSection {
  display: flex;
  justify-content: space-between;
}

.infoSection div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 2em 0;
}

.infoSection div figure img {
  width: 50px;
  aspect-ratio: 1;
}

/* component footer  */
footer {
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

footer section {
  display: flex;
  gap: 4em;
  padding-block: 2em;
}

footer section ul li a {
  color: #959595;
}

.bgLogo {
  background-image: url("./assets/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.listHeader {
  color: white;

}

footer section ul li {
  padding-block: 0.5rem;
}

.button {
  font-size: 1rem;
  background-color: #303030;
  color: white;
  border: 2px solid #0282f9;
  padding: 10px;
}

.bgBlack {
  background-color: #303030;
  padding-block: 0.6em;
}

.footerSocials {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.listHeaderFooter {
  color: #0282f9;
}

.socialsLogos {
  display: flex;
  align-items: center;
  gap: 1.5em;
}